.container {
  width: 940px;
  
  padding: 0;
  margin: 0;
}

.fixed-width {
  max-width: 125px;
}

ul.nav-pills {
  display: inline-block;
  background: rgb(51, 122, 183);
  font-weight: bold;
  border-radius: 5px;
  text-align: center;

  border: 1px solid #265A88;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.15) inset, 0px 1px 1px rgba(0, 0, 0, 0.075);
}

  ul.nav-pills li {
    width: 100%;
    margin-left: 0;
  }

    ul.nav-pills li a {
      line-height: 13px;
      color: #fff;
      border-radius: 0;
    }

    ul.nav-pills li:first-child a {
      border-radius: 5px 5px 0 0;
    }

    ul.nav-pills li:last-child a {
      border-radius: 0 0 5px 5px;
    }

    ul.nav-pills li:hover a {
      background-color: #3cb0fd;
      color: #fff;
    }

    ul.nav-pills li.active a {
      background-image: linear-gradient(to bottom, #265A88 0px, #265A88 100%);
      background-repeat: repeat-x;
    }

#divisions {
  left: -11px;
}

  .orders a {
    min-height: 134px;
    max-height: 134px;
    max-width: 150px;
  }

  .orders a h4 {
    margin-top: 5px;
  }

  .orders a p {
    word-wrap: break-word;
    white-space: initial;
    margin: 0;
  }

  .orders h6 {
    position: absolute;
    width: 124px;
    bottom: 0;
  }